<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLiteConnection" connectionString="Data Source=.\ASSE.db;Version=3;" providerName="System.Data.SqlClient"/>
		<add name="PostgresConnection" connectionString="Server=127.0.0.1;Port=5432;Database=asse;User Id=postgres;Password=1q2w3e;"/>
	</connectionStrings>
	<appSettings>
		<add key="MaxAuctions" value="3"/>
		<add key="InitialScore" value="500"/>
		<add key="NumberOfDays" value="5"/>
		<add key="MinimumScore" value="100"/>
	</appSettings>
</configuration>